<div class="post">
  <div class="title">
    <h2>Topic: <%= view_data.session.name %></h2>
  </div>
  <div class="entry">
    <% view_data.messages.each do |message| %>
        <div class="message-in-list" style="clear:right" >
           <div style="float:right"><strong>(<%=message.created_by.username %>) </strong><em><%= message.created_on.strftime("%c") %></em></div>
          <div style=""><%= html.format_chat_body(message.body) %></div>
        </div>
    <% end %>
  </div>
  <p class="links">&nbsp; </p>
</div>
<% html.begin_form("add_message", "chat") %>
<div class="post">
  <div class="entry">
    <label for="message">Message:</label><br/>
    <textarea name="message" id="message" rows="4" ></textarea><br/>
  </div>
  <p class="links right-aligned">
    <button type="submit">Send</button>
  </p>
</div>
<% html.end_form %>