/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
html{
    height:100%;
}
body {

	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: 13px Arial, Helvetica, sans-serif;
	color: #626262;
    height: 100%;
}

form {
	margin: 0;
	padding: 0;
}

textarea{
    width:100%;
}

button{
    border: 1px solid #626262;
}

input {
	padding: 5px;
	background: #FEFEFE url(images/img13.gif) repeat-x;
	border: 1px solid #626262;
	font: normal 1em Arial, Helvetica, sans-serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #444444;
}

h1 {
	letter-spacing: -3px;
	font-size: 2.6em;
}

h2 {
	letter-spacing: -2px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ol, ul {
	margin-bottom: 2em;
	line-height: 200%;
}

blockquote {
	margin: 0 0 0 1.5em;
	padding-left: 1em;
	border-left: 5px solid #DDDDDD;
}

a {
	color: #EB1400;
}

a:hover {
	text-decoration: none;
}

/* Header */

#header {
	height: 82px;
}

#logo h1, #logo p {
	float: left;
}

#logo h1 {
	padding: 13px 0 0 25px;
}

#logo p {
	margin: 0;
	padding: 20px 0 0 4px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	height: 82px;
}

#menu a {
	display: block;
	width: 110px;
	height: 46px;
	padding: 24px 0 0 0;
	text-decoration: none;
	text-align: center;
	letter-spacing: -1px;
	font: bold 1.6em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FABEB3;
}

#menu a:hover {
	width: 108px;
	background: #AD200E url(images/img04.gif) repeat-x;
	border-left: 1px solid #B22502;
	border-right: 1px solid #B22502;
	color: #FFFFFF;
}

#menu .current_page_item {
	background: url(images/img02.gif) no-repeat center bottom;
}

#menu .current_page_item a {
	width: 108px;
	background: #FFEC70 url(images/img03.gif) repeat-x;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	color: #EB1400;
}

/* Page */

#page {
	padding: 40px 60px 0 60px;
    min-height:77%;
}

/* Content */

#content {
	margin-right: 340px;

}

.post {
	margin-bottom: 10px;
	background: url(images/img05.gif) repeat-x;
}

.post .title {
	background: url(images/img07.gif) no-repeat right top;
}

.post .title h2 {
	padding: 30px 30px 0 30px;
	background: url(images/img06.gif) no-repeat;
	font-size: 2.2em;
}

.post .title p {
	margin: 0;
	padding: 0 0 0 30px;
	line-height: normal;
	color: #BABABA;
}

.post .title p a {
	color: #BABABA;
}

.post .entry {
	padding: 20px 40px 20px 30px;
}

.post .links {
	margin: 0;
	padding: 0 30px 30px 30px;
	background: url(images/img15.gif) no-repeat left bottom;
}

.post .links a {
	padding: 0 23px;
	text-decoration: none;
	font-weight: bold;
}

.post .links a:hover {
	text-decoration: underline;
}

.post .links .more {
	background: url(images/img16.gif) no-repeat left center;
}

.post .links .comments {
	background: url(images/img17.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 10px;
	background: url(images/img10.gif) no-repeat left bottom;
}

#sidebar li ul {
	padding: 0 30px 40px 30px;
}

#sidebar li li {
	margin: 0;
	padding-left: 20px;
	background: url(images/img11.gif) no-repeat 5px 50%;
}

#sidebar h2 {
	padding: 30px 30px 20px 30px;
	background: url(images/img09.gif) no-repeat;
	font-weight: normal;
	color: #EB1400;
}

/* Search */

#search {
	padding: 20px 30px 40px 30px;
}

button,
#search input {
	padding: 0;
	width: 70px;
	height: 29px;
	background: #DFDFDF url(images/img14.gif) repeat-x;
	font-weight: bold;
}

#search #s {
	padding: 5px;
	width: 150px;
	height: auto;
	background: #FEFEFE url(images/img13.gif) repeat-x;
	border: 1px solid #626262;
	font: normal 1em Arial, Helvetica, sans-serif;
}

#search br {
	display: none;
}

/* Categories */

#sidebar #categories li {
	background: url(images/img12.gif) no-repeat left center;
}

/* Calendar */

#calendar_wrap {
	padding: 0 30px 40px 30px;
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {
	background: #F1F1F1;
}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #today {
	background: #FFF3A7;
	border: 1px solid #EB1400;
	font-weight: bold;
	color: #EB1400
}

/* Footer */

#footer {
    padding: 70px 0 50px 0;
	background: #757575 url(images/img08.gif) repeat-x;
}

#footer p {
	margin-bottom: 1em;
	text-align: center;
	line-height: normal;
	font-size: .9em;
	color: #BABABA;
}

#footer a {
	padding: 0 20px;
	text-decoration: none;
	color: #DDDDDD;
}

#footer a:hover {
	color: #FFFFFF;
}

#footer .rss {
	background: url(images/img18.gif) no-repeat left center;
}

#footer .xhtml {
	background: url(images/img19.gif) no-repeat left center;
}

#footer .css {
	background: url(images/img20.gif) no-repeat left center;
}

#footer .legal a {
	padding: 0;
}

.right-aligned{
    display: block;
    text-align:right;
}