<div class="post">
  <div class="title">
    <h2>Change Password</h2>
  </div>
  <div class="entry">
    <p>
      Your password has been changed successfully.
    </p>
  </div>
  <p class="links">&nbsp; </p>
</div>
