<p>
  This application is written as a sample for the IronRuby in Action book.<br/>
  There is a chapter in the book dedicated to IronRuby MVC and that chapter explains the concepts that are being used
  in this example application.
</p>
<div>
  If you want to learn more about IronRuby<br/>
  <ul>
    <li>Wiki</li>
    <li>Stats info</li>
    <li>Source code</li>
  </ul>
</div>
