<div class="post">
  <div class="title">
    <h2>Welcome to Mock Chat</h2>
  </div>
  <div class="entry">
    <p>Mock Chat is a chat application that uses IronRuby, ASP.NET MVC and LightSpeed.<br/>
      It is uses JQuery for ajax and interactive elements.<br/>
      Lucene powers the full text search</p>

    <% html.render_partial 'common' %>
  </div>
  <p class="links">&nbsp; </p>
</div>