<h2>Welcome to Mock Chat</h2>
<p>
  Mock Chat is a chat application that uses IronRuby, ASP.NET MVC and LightSpeed.<br/>
  It is uses JQuery for ajax and interactive elements.<br/>
  Lucene powers the full text search
</p>
<% html.render_partial 'common' %>